<div class="panel panel-primary">

  <div class="panel-heading">Login</div>

  <div class="panel-body">

  <form>
    <div class="form-group">
      <label for="formGroupExampleInput">User</label>
      <input type="text" class="form-control" [(ngModel)]="user" name="userName">
    </div>
    <div class="form-group">
      <label for="formGroupExampleInput2">Password</label>
      <input class="form-control" type="password" [(ngModel)]="password" name="passName">
    </div>

    <button class="form-control" class="btn btn-primary" (click)="login()" routerLink=""> Accept </button>      

  </form>

</div>

</div>