<div class="container">
        <div class="jumbotron">
          <h1>Welcome</h1>
          <h2>Car API</h2>
        </div>

        <div class="panel panel-primary">
          <div class="panel-heading">Create New Car</div>
          <div class="panel-body">
                <app-add-car></app-add-car>
          </div>
        </div>

        <div class="panel panel-primary">
                <div class="panel-heading">Car List</div>
                <div class="panel-body">
                        <app-main></app-main>
                </div>
        </div>
</div>

